body {
  background-color: #ffffff;
  color: #000000;
  font-family: Ubuntu, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: underline;
}

a, a:link, a:visited {
  color: #000000;
}

a:hover, a:focus, a:active {
  color: #ae8aa6;
}

header {
  width: 100%;
  text-align: center;
}

header #header_image {
  margin: auto;
  width: 200px;
  height: 200px;
  background: url('../images/kiss.jpg') no-repeat center center;
}

header > h1 {
  font-size: 96px;
}

header > h2 {
  font-size: 24px;
}

header > h1, header > h2 {
  font-family: Sacramento, Helvetica, Arial, fantasy;
}

header > div#nav_placeholder {
  width: 0px;
  height: 0px;
}

header > nav {
  background-color: #ffffff;
}

header > nav.stuck {
  width: 100%;
  position: fixed;
  top: 0px;
  margin: auto;
  -webkit-box-shadow: 0px 0px 5px 2px #000000; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
          box-shadow: 0px 0px 5px 2px #000000; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
}

header > nav > ul {
  list-style: none;
}

header > nav > ul > li {
  height: 30px;
  line-height: 30px;
  display: inline-block;
  padding: 5px;
}

header > nav > ul > li.active {
  background-color: #d0cccb;
}

#content > article:before {
  display: block;
  content: '';
  margin-top: -30px;
  height: 30px;
  visibility: hidden;
}

#content > article {
  width: 100%;
  margin: auto;
}

#content > article > h1 {
  padding: 10px 0px;
  margin: 10px 0px;
  font-size: 60px;
  text-align: center;
  font-family: Architects Daughter, Helvetica, Arial, fantasy;
  text-shadow: 2px 2px 5px #ffffff;
  background-color: #ae8aa6;
}

#content > article > section {
  max-width: 960px;
  margin: auto;
}

#content > article > section > h1 {
  font-size: 36px;
  text-align: center;
  font-family: Architects Daughter, Helvetica, Arial, fantasy;
}

#content > article > section > article > h1 {
  font-size: 22px;
}

#content > article.alternate_image_text > section > div {
  margin: 5px 0px;
  display: table;
}

#content > article.alternate_image_text > section > div > div.image_cell {
  display: table-cell;
  vertical-align: middle;
}

#content > article.alternate_image_text > section > div > div.image_cell > a > div {
  width: 200px;
  height: 200px;
  background: no-repeat;
  border-radius: 15px;
}

#content > article.alternate_image_text > section > div > div.text {
  display: table-cell;
  vertical-align: middle;
  text-align: justify;
}

#content > article.alternate_image_text > section > div > div.text:nth-child(even) {
  padding-left: 10px;
}

#content > article.alternate_image_text > section > div > div.text:nth-child(odd) {
  padding-right: 10px;
}

#content > article.alternate_image_text > section > div > div.text > h1 {
  padding: 5px 0px;
  font-size: 20px;
}

#content > article.centered_text > section > p {
  text-align: center;
}

#content > article > section > div.image {
  text-align: center;
}

#content > article > section > div.image > a > img {
  border-radius: 15px;
}

#content > article#registry > section > div.image > a > img {
  width: 720px;
  height: 400px;
}

#content > article#contact_us > section > div.image > a > img {
  width: 720px;
  height: 488px;
}

#content > article#wedding_info > section:nth-of-type(1) > div.image > a > img {
  width: 720px;
  height: 480px;
}

#content > article#wedding_info > section:nth-of-type(2) > div.image > a > img {
  width: 744px;
  height: 384px;
}

footer {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #d0cccb;
}