body {
  background-color: #ffffff;
  color: #000000;
  font-family: Ubuntu, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

header {
  width: 100%;
  text-align: center;
}

header #header_image {
  margin: auto;
  width: 400px;
  height: 200px;
  background: url('http://placekitten.com/400/200') no-repeat center center;
}

header > h1 {
  font-size: 96px;
}

header > h2 {
  font-size: 24px;
}

header > h1, header > h2 {
  font-family: Sacramento, Helvetica, Arial, fantasy;
}

header > div#nav_placeholder {
  width: 0px;
  height: 0px;
}

header > nav.stuck {
  width: 100%;
  position: fixed;
  top: 0px;
  margin: auto;
}

header > nav > ul {
  list-style: none;
}

header > nav > ul > li {
  display: inline-block;
  padding: 5px;
  margin: 0px 5px;
}

header > nav > ul > li.active {
  background-color: #ff0000;
}

#content > article {
  width: 100%;
  margin: auto;
}

#content > article > h1 {
  padding: 10px 0px;
  margin: 10px 0px;
  font-size: 60px;
  text-align: center;
  font-family: Architects Daughter, Helvetica, Arial, fantasy;
  background: url('http://placekitten.com/1000/1000') no-repeat center center;
  -webkit-background-size: cover; /* Safari 3-4 */
          background-size: cover; /* Chrome, Firefox 4+, IE 9+, Opera, Safari 5+ */
}

#content > article > section {
  max-width: 960px;
  margin: auto;
}

#content > article > section > h1 {
  font-size: 36px;
  text-align: center;
  font-family: Architects Daughter, Helvetica, Arial, fantasy;
}

#content > article > section > article > h1 {
  font-size: 22px;
}

#content > article#about_us > section > div {
  margin: 5px 0px;
  display: table;
  padding: 0px 210px;
}

#content > article#about_us > section > div:nth-child(even) {
  padding: 0px 0px 0px 210px;
  min-height: 200px;
  background: url('http://placekitten.com/200/200') no-repeat center left;
}

#content > article#about_us > section > div:nth-child(odd) {
  padding: 0px 210px 0px 0px;
  min-height: 200px;
  background: url('http://placekitten.com/200/200') no-repeat center right;
}

#content > article#about_us > section > div > p {
  display: table-cell;
  vertical-align: middle;
  text-align: justify;
}

footer {
  width: 100%;
  text-align: center;
}